@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Spicy+Rice);
body { 
    background-image: url('pics/background_green.png');
    background-attachment: fixed;
}
.monserrat{
	font-family: Monserrat;
}
.pacifico{
	font-family: Pacifico;
}
.lobster{
	font-family: Lobster;
}
.frijole{
	font-family: Frijole;
}
.creepster{
	font-family: Creepster;
}
.spicyrice{
	font-family: Spicy+Rice;
a:hover { 
    background-color: #cccccc;
}
	
	
